/* btn */
.btn {
    background-color: transparent;
    padding: 8px 24px;
    font-size: 16px;
    color: $color-neutral-white;
    display: inline-block;
    transition: $transition-default;
    
    &__primary {
        background-color: $color-secondary-500;
        color: $color-neutral-white;
        
        &:hover {
            background-color: $color-secondary-600;
            color: $color-neutral-white;
            cursor: pointer;
        }
    }

    &-lg {
        padding: 12px 26px;
    }
}


