.feat {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        
        @include Table {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__img-wrapper {
            width: 100%;
            aspect-ratio: 4/3;
            position: relative;
            /* height: 100%; */
            object-fit: cover;
            object-position: center;
            overflow: hidden;
            
            &__img {
                width: 100%;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                transition: $transition-default;
                transform: scale(1);
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}