/* Header */
.header-gif__img {
    width: 100%;
    // height: 600px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* sections */







.more-links {
    padding: 60px 0;
    background-color: $color-secondary-500;
    width: 100%;
    color: $color-neutral-white;

    &__articles {
        display: flex;
        flex-direction: column;
        gap: 0;
        list-style-type: none;
    }

    &__article {
        transition: $transition-default;

        &:hover {
            padding-left: 20px;
        }

        &:first-child {
            border-top: 2px solid $color-neutral-white;
        }

        &:last-child {
            border-bottom: 2px solid $color-neutral-white;
        }

        display: flex;
        flex-direction: row;
        gap: 0;
        padding: 20px 0;
        border-bottom: 1px solid $color-neutral-white;
        border-top: 1px solid $color-neutral-white;

        &__item {
            color: $color-neutral-white;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
}
