.navbar {
    background-color: $color-neutral-dark;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    // backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    // @supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    //     background-color: rgba($color-neutral-dark, 0.7);
    //     backdrop-filter: saturate(180%) blur(20px);
    // }

    @include Support(backdrop-filter, saturate(180%) blur(20px)) {
        background-color: rgba($color-neutral-dark, 0.9);
    }

    @include SmallTable {
        background-color: $color-neutral-dark;
    }
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        @include SmallTable {
            flex-direction: column;
        }
    }
    &__general {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        justify-content: space-between;

        @include SmallTable {
            width: 100%;
        }
    }
    &__brand {
        color: $color-neutral-white;
        font-size: 24px;
        text-transform: uppercase;
    }

    &-toggle {
        display: none;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border: none;
        flex-shrink: 0;

        &:hover {
            cursor: pointer;
            // background-color: rgba($color-neutral-dark, 0.5);
        }

        @include SmallTable {
            display: flex;
        }
    }
    

    &-collapse {
        display:flex;
        transition: $transition-default;
        gap: 30px;

        @media (min-width:769px) {
            display:flex !important;
        }

        &:has(.btn) {
            .navbar__links {
                @include SmallTable {
                    margin-bottom: 30px;
                }
            }
        }

        @include SmallTable {
            display: none;
            width: 100%;
            flex-direction: column;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        list-style-type: none;

        @include SmallTable {
            flex-direction: column;
            align-items: stretch;
            width: 100%;
            gap: 0;
        }
    }
    
    &__link {
        color: $color-neutral-white;
        transition: $transition-default;

        &:hover {
            text-decoration: underline;

            @include SmallTable {
                padding: 20px;
                display: block;
                width: 100%;
                border-radius: 10px;
                background-color: $color-dark-700;
                text-decoration: none;
            }
        }

        @include SmallTable {
            padding: 20px 20px 20px 0;
            display: block;
            width: 100%;
            border-radius: 10px;
        }
    }
}
