.swiper {
    width: 100%;
    height: 100%;
    
    &-slide {
        text-align: center;
        font-size: 18px;
        background: $color-neutral-white;
    
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

.partnersSwiper {
    .swiper-slide {
        height: 135px;
        overflow: hidden;
        // padding: 30px;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            
        }
        
        .partners-client {
            // height: 50px;
            width: 50%;
        }
    }
}

.gallerySwiper {
    .swiper-slide {
        aspect-ratio: 1/1;
        overflow: hidden;
        width: 100%;
        
        .gallery-photo {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}